*.pyc
*.ipynb
*.npz
*.csv
*.xlsx
*.xls
*.pkl
*.parquet
*.png
*.safetensors
*.json
*.html
*.log
*.spec
.ipynb_checkpoints/*
old_code/*
model/*
output_model/*
data/*
build_deps/*
dist/*
build/*