hdbscan==0.8.40
pandas==2.2.3
plotly==5.24.1
scikit-learn==1.5.2
umap-learn==0.5.7
gradio==5.6.0
boto3==1.35.64
transformers==4.46.3
accelerate==1.1.1
torch==2.5.1
bertopic==0.16.4
spacy==3.8.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
pyarrow
openpyxl
Faker
presidio_analyzer==2.2.355
presidio_anonymizer==2.2.355
scipy
polars
sentence-transformers==3.2.0
llama-cpp-python==0.3.2 --extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cpu
#numpy==1.26.4