hdbscan==0.8.38.post1
pandas==2.2.2
plotly==5.23.0
scikit-learn==1.5.1
umap-learn==0.5.6
boto3
spacy==3.8.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
gradio==4.44.1
pyarrow==17.0.0
openpyxl==3.1.2
Faker==22.2.0
presidio_analyzer==2.2.354
presidio_anonymizer==2.2.354
scipy==1.11.4
polars==0.20.6
transformers==4.44.0
numpy==1.26.4